body{
    margin-top: 50px;
    background-color:blanchedalmond;}
.croissant{text-align: center;}
.about-croissants{text-align: center;}
a{color: green;
    margin-right: 20px;
}
footer{text-align: center;}
img{
    max-width:"100%";
height: 100%;}